.hidden {
  display: none !important;
}

body {
  font-family: 'Mate SC', serif;
  background-color: #333;
}

h1 {
  margin-left: 1.5rem;
  font-family: 'Cinzel', serif;
  text-shadow: 2px 0 0 #f7ce65, -2px 0 0 #f7ce65, 0 2px 0 #f7ce65, 0 -2px 0 #f7ce65, 1px 1px #f7ce65, -1px -1px 0 #f7ce65, 1px -1px 0 #f7ce65, -1px 1px 0 #f7ce65;
}

h2,
h3 {
  font-family: 'Cinzel', serif;
  text-shadow: 2px 0 0 #f7ce65, -2px 0 0 #f7ce65, 0 2px 0 #f7ce65, 0 -2px 0 #f7ce65, 1px 1px #f7ce65, -1px -1px 0 #f7ce65, 1px -1px 0 #f7ce65, -1px 1px 0 #f7ce65;
  margin: 0.25rem 0.5rem;
}

.container {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.diceRow {
  display: flex;
}

.dndLogo {
  width: 100px;
  margin-left: 1rem;
}

.logoHeader {
  background-color: #290000;
  border: 2px solid #f7ce65;
  width: 100%;
}

.redRow {
  background-color: #930c10;
  border: 2px solid #f7ce65;
  width: 100%;
  display: flex;
  align-items: center;
}

.rollRow {
  color: white;
  background-color: #930c10;
  border: 2px solid #f7ce65;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  font-family: 'Mate SC', serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 0 0 #f7ce65, -2px 0 0 #f7ce65, 0 2px 0 #f7ce65, 0 -2px 0 #f7ce65, 1px 1px #f7ce65, -1px -1px 0 #f7ce65, 1px -1px 0 #f7ce65, -1px 1px 0 #f7ce65;
  width: 90px;
  height: 30px;
  background: #930c10;
  border: 2px solid #f7ce65;
  border-radius: 8px;
  margin: 0.25rem 0.5rem;
}

button:hover {
  background-color: #f7ce65;
  box-shadow: 0 5px 15px rgba(253, 218, 130, 0.8);
  color: white;
}

.spellBtn {
  width: 100%;
}

.classSpellBtn {
  width: 100%;
}

.diceBtn {
  height: 55px;
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.svg:hover {
  filter: brightness(5);
}

.picked {
  background-color: #f7ce65;
  box-shadow: 0 5px 15px rgba(253, 218, 130, 0.8);
  color: white;
}

.classSelect {
  font-family: 'Mate SC', serif;
  font-size: 25px;
  font-weight: bold;
  background-color: #290000;
  border: 2px solid #f7ce65;
  border-radius: 8px;
  color: white;
  text-shadow: 2px 0 0 #290000, -2px 0 0 #290000, 0 2px 0 #290000, 0 -2px 0 #290000, 1px 1px #290000, -1px -1px 0 #290000, 1px -1px 0 #290000, -1px 1px 0 #290000;
  margin: 0.25rem 0.5rem;
}

.icon {
  height: 50px;
}

.classNav {
  width: 100%;
  background-color: #290000;
  border: 2px solid #f7ce65;
  justify-content: space-between;
}

.contentBody {
  background-color: white;
  min-width: 100%;
  border: 2px solid #f7ce65;
}

.dice {
  margin-right: 0.25rem;
}

.diceH2 {
  color: white;
  text-shadow: 2px 0 0 #290000, -2px 0 0 #290000, 0 2px 0 #290000, 0 -2px 0 #290000, 1px 1px #290000, -1px -1px 0 #290000, 1px -1px 0 #290000, -1px 1px 0 #290000;
}

.diceP {
  color: white;
  font-size: 25px;
  margin-top: 10rem;
  position: absolute;
  text-align: center;
  width: 500px;
  background-color: rgba(41, 0, 0, 0.8);
  border: solid 2px rgba(247, 206, 101, 0.8);
}

p {
  padding: 0 1rem;
  font-size: 20px;
}

li {
  font-size: 20px;
}

.colHalf {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.bigDie {
  height: 400px;
}

.animated {
  position: absolute;
  height: 400px;
}

.colFourth {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  border: 2px solid #f7ce65;
}

.colThreeFour {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  border: 2px solid #f7ce65;
  position: static;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #f7ce65;
  background-color: #930c10;
  color: white;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.modal {
  background-color: white;
  border: 2px solid #f7ce65;
  position: absolute;
  width: 500px;
  overflow: auto;
}

.mRow {
  justify-content: space-between;
}

.pModal {
  color: white;
}

.filterBtn {
  width: 200px;
}

.allSpells {
  width: 150px;
}

.roll {
  margin-left: 2rem;
}

input {
  width: 50px;
  margin: 1rem 0;
}

label {
  font-size: 20px;
  margin: 1rem 1rem;
}

@media screen and (max-width: 600px) {
  button {
    margin: auto;
  }

  .diceBtn {
    width: 90px;
  }

  .modal {
    width: 350px;
  }

  .bigDie {
    width: 200px;
  }

  .icon {
    width: 25px;
  }

  .roll {
    margin-left: 0.5rem;
  }

  .rollRow {
    justify-content: start;
  }

  .diceP {
    width: 300px;
  }
}
